<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/imgs/Vector.png" alt="" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/news">News</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="">{{admin.firstName}}</a></li>
        <li><a href="/logout" style="color: black;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>