<header>
  <div class="container">
    <div class="row">
      <div class="col m7 padm7">
        <div class="head_img">
          <img src="/imgs/1.png" alt="" />
        </div>
      </div>
      <div class="col m5 padm5">
        <div class="head_info">
          <span>Illustration</span>
          <h2>Japan House opens in mountainside to foster peak creativity.</h2>
          <p>Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad
            timeam accusata, hinc justo falli id eum, ferri novum molestie eos
            cu.</p>
          <strong>By Reta Torphy</strong>
        </div>
      </div>
    </div>
  </div>
</header>